h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  background: #171919;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 200px;
  line-height: 156px;
  color: rgba(255, 255, 255, 0.02);
  position: relative;
  display: inline-block;
  left: -70px;
}

.title span {
  font-size: 80px;
  line-height: 86px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.title span::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4AF6CD;
  position: absolute;
  top: 0;
  right: 0;
}

.right {
  text-align: right;
}

.left {
  padding-left: 130px;
  position: absolute;
  bottom: 40px;
}

.left::after {
  content: '';
  position: absolute;
}


.section-title {
  font-size: 40px;
  line-height: 46px;
}

.section-title span {
  font-weight: 100;
  opacity: 0.5;
}

.section-title__descr,
.section-title__descr--right {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  right: -10px;
}

.section-title__descr::before,
.section-title__descr--right::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
}

.section-title__descr::before {
  right: -108px;
}

.section-title__descr--right::before {
  left: -108px;
}

.btn {
  font-weight: 800;
  font-size: 30px;
  line-height: 26px;
}

.btn span {
  display: inline-block;
  padding: 13px 55px 17px 15px;
  background: #4AF6CD;
  margin-left: 10px;
  position: relative;
}

.btn span::before {
  content: '';
  width: 20px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: -8px;
  top: 47%;
}

.btn span::after {
  content: '';
  width: 25px;
  height: 20px;
  background: url('../images/next.svg')no-repeat;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.serf,
.sleep,
.travel,
.shop {
  padding: 160px 0 120px;
}


/* start hero */

.header {
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0F0F0F 100%), url('../images/header-bg.jpg')no-repeat center top / cover;
  height: 100vh;
  color: #fff;
}

.header__inner {
  position: relative;
  height: 100vh;
}

.header__title {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 200px;
  line-height: 156px;
  opacity: .07;
}

.header__aside {
  position: absolute;
  height: 100vh;
  left: 0;
  border-left: 1px solid;
  border-right: 1px solid;
  text-align: center;
  z-index: 3;
}

.menu__link span {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.menu__item {
  margin-top: 37px;
}

.search__img {
  margin: 25px 0 15px;
}

.header__aside-date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
}

.header__aside-date span {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.4px;
  margin-top: 5px;
}

.header__aside-location {
  margin-top: 30px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  text-transform: capitalize;
}

.arrows-down__link {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 230px;
}

/* розтягиваем айтем на весь экран чтобы дочерний блок разместить там где нам нужно */
.header-slider__item {
  position: relative;
  height: 100vh;
}

/* дочерний блок слайдер айтема */
/* для этого и делаем в хтмл еще одну обертку внутри айтема */
.header-slider__item-box {
  position: absolute;
  bottom: 115px;
  right: 0;
  text-align: right;
}

.header-slider__item-title {
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.header-slider__item-suptitle,
.header-slider__item-suptext {
  position: relative;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 7.33333px;
  color: #FFFFFF;
  opacity: 0.5;
}

.header-slider__item-suptitle::before,
.header-slider__item-suptext::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: -108px;
}

.header-slider__item-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 86px;
}

.header-slider .slick-arrow {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: 40px;
  z-index: 2;
  opacity: 0.25;
}

.slick-prev {
  right: 45px;
}

.slick-next {
  right: 0;
}

.header-slider__dots {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 65px;
}

.header-slider__dots li {
  margin-left: 40px;
}

.header-slider__dots .slick-active button {
  background-color: #4AF6CD;
}

.header-slider__dots button {
  font-size: 0;
  display: block;
  width: 180px;
  height: 4px;
  background-color: #fff;
}

.header-list {
  position: absolute;
  bottom: 30px;
  right: 0;
  display: flex;

}

.header-list__item {
  width: 180px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list__item-num {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}

.header-list__item-name {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
}

.line-animated {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: yurbas 6s infinite 6s;
}

@keyframes yurbas {
  to {
    stroke-dashoffset: 0;
  }
}

/* end hero */



/* start surf */

.surf-title {
  margin-top: 160px;
}

.markermap-bg {
  position: relative;
}

.markermap-bg::after {
  content: '';
  background: url('../images/mapmarker-right.svg')no-repeat;
  width: 145px;
  height: 395px;
  position: absolute;
  right: 0;
  top: -155px;
}

.surf-title span {
  top: -30px;
  right: -15px;
}

.surf-slider__map {
  max-width: 1200px;
  min-height: 635px;
  background-size: cover;
  background-image: url('../images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

/* это список с нашими точками расширяем его на всю ширину карты что бы точки было видно на всей карте, ато по умолчанию высота там вообще 28px */

.surf-slider__dots {
  position: relative;
}

.surf-slider__dots--1 {
  top: 345px;
  left: 0;
}

.surf-slider__dots--2 {
  top: 290px;
  left: -20px;
}

.surf-slider__dots--3 {
  top: 315px;
  left: 30px;
}

.surf-slider__dots--4 {
  top: 500px;
  left: -35px;
}

.surf-slider__dots--5 {
  top: 210px;
  left: -65px;
}

.surf-slider__dots--6 {
  top: 550px;
  left: -105px;
}

.surf-slider__dots--7 {
  top: 390px;
  left: -95px;
}

.surf-slider__dots--8 {
  top: 500px;
  right: -35px;
}

.surf-slider__circle {
  width: 24px;
  height: 24px;
  background-color: #4AF6CD;
  box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
  border-radius: 50%;
  cursor: pointer;
}

.surf-slider__content {
  /* изначально вырублен, показывается только при нажатии на кружок */
  display: none;

  padding: 32px 30px 0 30px;
  background: rgba(15, 16, 16, 0.7);
  border-radius: 6px;
  width: 285px;

}

/* делаем треугольник для кружка, чтоб была капля */
.surf-slider__circle::before {
  display: none;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 20px solid #4AF6CD;
  /* 12px потому что в макете эта капля имеет ширину 24px вот и делим на 2 бо две ж стороны боковых, и низ тоже в виде нижнего бордера и его 20ка это примерно около наших значений */
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(180deg);
  top: 16px;
  left: 0;
}

.surf-slider__map .slick-current .surf-slider__content,
.surf-slider__map .slick-current .surf-slider__circle::before {
  /* вот это нажатие на кружок, точнее, состояние когда он активен, а он активен когда нажат )) */
  display: block;
}

.surf-slider__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.surf-slider__content-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  padding-top: 8px;
  margin-top: 8px;
  position: relative;
}

.surf-slider__content-subtitle::after {
  content: '';
  width: 80px;
  height: 1px;
  background: #4AF6CD;
  position: absolute;
  top: 0;
  left: 0;
}

.surf-slider__content-link {
  padding-top: 4px;
}

.surf-slider__content-link img {
  width: 16px;
  height: 13px;
}

.surf-slider__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.surf-slider__content-img {
  margin-bottom: 7px;
}

.surf-slider__content-index {
  display: inline-block;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}

.surf-slider__content-element {
  display: inline-block;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin-top: 5px;
}

/* чтоб не обрезало у окошек края когда они на краях карты, но частично решило проблему, с боков всеравно обрезает */
.surf-slider__map .slick-list {
  min-height: 635px;
  overflow: visible;
}


/* костыль против синхронных слайдеров, чтоб второй не крутился при скроле по первому ну или как то так */
.surf-slider__map .slick-track {
  /* transform: translate3d(0, 0, 0) !important; */
}

.surf-slider {
  padding-top: 110px;
}

/* n - это счетчик от 0 до бесконечности итак 0 это первый элемент, наш счетчик погнал - (4n) 0*4=0, (+1) 0+1=1, итак он берет первый элемент (потому что 0+1=1) и задает ему параметр указанный нами ниже, далее - потом наше n = 1 равно еденичке, следовательно (4n) 4*1=4, (+1) 4+1=5, и теперь наш 5й элемент наследует заданные ниже параметры, далее наше n = 2 уже равно двойке, значит (4n) 4*2=8, (+1) 8+1=9, и теперь наш 9й элемент принимает теже значения что и его предшественники. Вот так работает счетчик */
.surf-slider__box:nth-child(4n+1) {
  margin-top: 32px;
}

.surf-slider__box:nth-child(4n + 3) {
  margin-top: 89px;
}

.surf-slider__box-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.surf-slider__box.slick-current .surf-slider__btn {
  display: block;
}

.surf-slider__box.slick-current .surf-slider__inner,
.surf-slider__inner:hover {
  background: rgba(28, 33, 33, 0.3);
}

.surf-slider__inner {
  min-height: 750px;
  background: rgba(28, 33, 33, 0.85);
  position: relative;
  transition: all 0.5s ease;
}

.surf-slider__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.surf-slider__location {
  letter-spacing: 8px;
  transform: rotate(-90deg);
  display: flex;
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
}

.surf-slider__location span {
  font-weight: 100;
  opacity: 0.5;
}

.surf-slider__btn {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.surf-slider__dots--8 .surf-slider__content {
  transform: translate(-240px, 20px);
}

.surf-slider__dots--7 .surf-slider__content {
  transform: translate(-70px, 20px);
}

.surf-slider__dots--6 .surf-slider__content {
  transform: translate(-70px, 20px);
}

.surf-slider__dots--5 .surf-slider__content {
  transform: translate(-70px, 20px);
}

.surf-slider__dots--4 .surf-slider__content {
  transform: translate(-145px, 20px);
}

.surf-slider__dots--3 .surf-slider__content {
  transform: translate(-230px, 20px);
}

.surf-slider__dots--2 .surf-slider__content {
  transform: translate(-105px, 20px);
}

.surf-slider__dots--1 .surf-slider__content {
  transform: translate(-10px, 20px);
}

/* end surf */



/* start Travel */

.travel {
  position: relative;
}

.travel::after {
  content: '';
  background: url('../images/cup.png')no-repeat;
  width: 552px;
  height: 564px;
  position: absolute;
  bottom: -115px;
  right: 0;
}

.travel__title span {
  top: -20px;
  right: 110px;
}

.travel .left::after {
  background: url('../images/virgin.svg');
  width: 52px;
  height: 46px;
  right: -78px;
  top: 25px;
}

.travel-slider {
  margin-bottom: 100px;
}

.travel-slider__inner {
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 780px;
}


.travel-slider .slick-arrow,
.sleep-slider .slick-arrow {
  top: 100px;
}

.travel-slider__img {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

.slider-info__item {
  text-align: center;
}

.slider-info__box-wrapper {
  display: flex;
  justify-content: space-around;
}

.slider-info__box {
  height: 200px;
  margin-bottom: 100px;
  position: relative;
  text-align: center;

}

.slider-info__item-subtitle {
  display: inline-block;
  opacity: 0.5;
  font-weight: 400;
  transform: rotate(-90deg);
  letter-spacing: 8px;
  /* width это уже высота из за ротейта */
  width: 200px;
  height: 0;
  position: absolute;
  text-align: right;
  top: 97px;
  left: -97px;
  white-space: nowrap;
}

.slider-info__item-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-left: 40px;
}

.slider-info__item-span {
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 5.25px;
  opacity: 0.75;
  display: block;
  font-weight: 400;
  text-align: right;
}

.slider-info__btn {
  text-align: center;
}

/* end Travel */



/* start sleep */
.sleep {
  position: relative;
}

.sleep::after {
  content: '';
  background: url('../images/flower-small.png')no-repeat;
  width: 160px;
  height: 160px;
  position: absolute;
  right: 184px;
  bottom: 520px;
}

.sleep::before {
  content: '';
  background: url('../images/flower-big.png')no-repeat;
  width: 418px;
  height: 264px;
  position: absolute;
  right: 0;
  bottom: 60px;
}

.sleep__title span {
  top: -30px;
  right: 30px;
}

.sleep-slider {
  margin-bottom: 100px;
}

.sleep-slider__inner {
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 780px;
}

.sleep-slider__img {
  position: absolute;
  right: -40px;
  bottom: 0;
}

/* если нужно менять количество звезд то тогда переделываем и в хтмл тоже (что бы бэкэндэр не заморачивался с css так как в хтмл проще поменять катринку и вообще)
.sleep .left::after {
  background: url('../images/star.png')no-repeat;
  width: 25px;
  height: 25px;
  right: -40px;
  top: 43px;
}
*/



.star__list-item {
  display: inline-block;
  margin-right: 10px;
}

.sleep-slider__list {
  position: absolute;
  right: -205px;
  top: 45px;
}


/* start quantity */

.quantity {
  /* position: relative; удаляем нах и ищем родителя которому зададим pos/relative родитель slider-info__item-title  */
  /* выравнивает цифру и текст в одну строку */
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 58px;
  height: 40px;
  /* line-height: 1.65; */
  /* float: left; */
  display: block;
  /* padding: 0; */
  /* margin: 0; */
  /* padding-left: 20px; */
  /* убраем бордер и делаем цвет прозрачным */
  /* border: 1px solid #eee; */
  border: none;
  background-color: transparent;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;

  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  /* position: relative; */
  height: 42px;
}

.quantity-button {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  cursor: pointer;
  /* border-left: 1px solid #eee; */
  /* width: 20px; */
  /* text-align: center; */
  /* color: #333; */
  /* font-size: 13px; */
  /* font-family: "Trebuchet MS", Helvetica, sans-serif !important; */
  line-height: 1.7;
  /* -webkit-transform: translateX(-100%); */
  /* transform: translateX(-100%); */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* color: #4AF6CD; */
}

.quantity-button.quantity-up {
  position: absolute;
  /* height: 50%; */
  /* border-bottom: 1px solid #eee; */
  /* top: 0; */
  top: 60px;
  right: 0;

}

.quantity-button.quantity-down {
  position: absolute;

  /* bottom: -1px; */
  /* height: 50%; */
  top: 59px;
  right: 30px;
}

/* end quantity */
/* end sleep */


/* start shop */

.shop {
  position: relative;
}

.shop-slider .section-title__box {
  width: 480px;
}

.shop__title span {
  top: -30px;
  right: 10px;
}

.shop-slider__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right top;
}

.shop-slider .slick-arrow {
  top: -50px;
}

.shop-slider__list {
  margin-top: 47px;
}

.shop-slider__item-price {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 64px;
}

.shop-slider__item-price sup {
  font-size: 18px;
}


.surfboard__img {
  position: relative;

}

.surfboard-box {
  position: absolute;
}

/* вот описание того как наш кружок появляется */
.surfboard-box__circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* вот начало описания того как наш плюс появляется */
.circle-row {
  background: #4AF6CD;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}

.circle-row+.circle-row {
  transform: translate(-50%, -50%) rotate(90deg);
}


.surfboard-box__circle.active .circle-row {
  transform: translate(-50%, -50%) rotate(0);
}

/* а это стили и позиция текста который появляется при клике на кружок */
.surfboard-box__content {
  position: absolute;
  width: 360px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  padding-left: 104px;
  left: 35px;
  top: -10px;
  display: none;
}

/* если эти два класс встречаются вместе тогда их сосед (+ указывается через знак плюс) surfboard-box__content - будет display: block; */
.surfboard-box__circle.active+.surfboard-box__content {
  display: block;
}

/* вот конец описания того как наш плюс появляется */

/* а это линия которая появляется рядом с кружком */
.surfboard-box__content:before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 22px;
  left: 0;
}

.surfboard__position--1 {
  right: 35px;
  top: 215px;
}

.surfboard__position--2 {
  left: -6px;
  top: 290px;
}

.surfboard__position--3 {
  left: 52px;
  bottom: 63px;
}

.surfboard__position--3 .surfboard-box__content {
  padding-left: 0;
  padding-right: 104px;
  top: -15px;
  left: -395px;
  text-align: right;
}


.surfboard__position--3 .surfboard-box__content::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 22px;
  right: 0;
  left: auto;
}

.shop-slider__extras {
  margin-top: 400px;
}

.shop-slider__extras-title {
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 40px;
}

.shop-slider__extras-inner {
  display: flex;
  align-items: flex-end;
}

.shop-slider__extras-box {
  margin-right: 85px;
  text-align: center;
}

.shop-slider__extras-name {
  margin-top: 30px;
  opacity: 0.5;
  letter-spacing: 8px;
}

.shop-slider__extras-price {
  margin-top: 10px;
  font-weight: 800;
}

/* end shop */


/* start footer */

.footer {
  text-align: center;
  padding-top: 150px;
}

.footer__btn {
  margin-bottom: 27px;
}

.footer__btn span {
  padding-right: 18px;
}

.footer__btn span::after {
  display: none;
}

.footer__copy {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  opacity: 0.5;
  display: block;
  font-weight: 300;
  margin-bottom: 30px;
}

/* end footer */



/* responsive */

@media (max-width: 1440px) {
  .logo img {
    /* width: 100px;
    transform: translateX(150px) rotate(90deg);
    position: absolute; */
    display: none;
  }

  .header__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
  }

  .header__title {
    font-size: 130px;
    line-height: 100px;
    left: 65px;
  }


  .header__aside-date {
    font-size: 40px;
    line-height: 50px;
  }

  .arrows-down__link {
    left: 130px;
  }

  .header-slider__item-title {
    font-size: 60px;
    line-height: 66px;
  }

  .header-slider__item-text {
    font-size: 36px;
    line-height: 68px;
  }

  .header-slider__item-suptitle,
  .header-slider__item-suptext {
    font-size: 20px;
  }
}




@media (max-width: 1250px) {
  .surf-slider__map {
    max-width: 1000px;
    min-height: 515px;
  }

  .surf-slider__map .slick-list {
    min-height: 515px;
  }

  .surf-slider__dots--1 {
    top: 285px;
    z-index: 2;
  }

  .surf-slider__dots--2 {
    top: 230px;
    left: -20px;
  }

  .surf-slider__dots--3 {
    top: 255px;
    left: 23px;
  }

  .surf-slider__dots--4 {
    top: 407px;
    left: -25px;
  }

  .surf-slider__dots--5 {
    top: 166px;
    left: -62px;
  }

  .surf-slider__dots--6 {
    top: 449px;
    left: -84px;
  }

  .surf-slider__dots--7 {
    top: 320px;
    left: -83px;
  }

  .surf-slider__dots--8 {
    top: 410px;
    right: -30px;
  }
}




@media (max-width: 1200px) {
  .header__map-svg {
    width: 600px;
    height: 400px;
  }

  .header-slider__dots li {
    margin-left: 20px;
  }

  .header-list__item {
    margin-left: 20px;
  }
}




@media (max-width: 1023px) {
  .surf-slider__map {
    background-image: none;
    max-width: 100%;
    min-height: auto;
    margin-top: 30px;
  }

  .surf-slider__map .slick-list {
    min-height: auto;
    overflow: hidden;
  }

  .surf-slider__circle {
    display: none;
  }

  .surf-slider__content {
    display: block;
  }

  .surf-slider__dots .surf-slider__content {
    transform: translate(0);
  }

  /* убираем свой костыль, теперь нада чтоб оба слайдера  крутилось. Но не получается его перебить, поэтому решаем через js, и отменяем этот костыль выше (стр 570), где он изначально был создан */
  .surf-slider__map .slick-track {
    /* transform: none !important; */
  }

  .surf-slider__content {
    background: none;
  }

.surf-slider__map .slick-current .surf-slider__content {
  background: rgba(15, 16, 16, 0.7);
}

  .surf-slider__dots {
    position: static;
  }
}




@media (max-width: 991px) {
  .arrows-down__link {
    display: none;
  }

  .header-slider__item-title {
    font-size: 52px;
    line-height: 56px;
  }

  .header-slider__item-text {
    font-size: 34px;
    line-height: 46px;
  }

  .header-slider__item-suptitle,
  .header-slider__item-suptext {
    font-size: 18px;

  }

  .header-slider__item-suptitle::before,
  .header-slider__item-suptext::before {
    width: 60px;
    left: -75px;
  }

  .header-arrow__link {
    margin-top: 20px;
  }

  .header-slider__dots button {
    width: 120px;
  }

  .header-list__item {
    width: 120px;
  }

  .header-list__item-num {
    font-size: 18px;
  }

  .header-list__item-name {
    font-size: 16px;
  }
}




@media (max-width: 767px) {
  .header-list {
    display: none;
  }

  .header-slider__dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .header-slider__dots li {
    margin-left: 20px;
  }
}




@media (max-width: 575px) {
  .header__map {
    display: none;
  }

  .header-slider__item-title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 36px;
  }

  .header-slider__item-text {
    font-size: 26px;
    line-height: 38px;
  }

  .header-slider__item-suptitle,
  .header-slider__item-suptext {
    font-size: 14px;
  }

  .header-slider__item-suptitle::before,
  .header-slider__item-suptext::before {
    width: 50px;
    left: -60px;
  }

}





@media (max-width: 380px) {
  .header__title {
    font-size: 88px;
    line-height: 77px;
    left: 86px;
  }

  .header-slider__item-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 36px;
  }

  .header-slider__item-text {
    font-size: 24px;
    line-height: 38px;
  }

  .header-slider__dots button {
    width: 7px;
    height: 7px;
  }

  .header-slider__dots li {
    margin-left: 10px;
  }
}





@media (max-width: 320px) {

  .header-slider__item-suptitle,
  .header-slider__item-suptext {
    letter-spacing: 5px;
  }
}























.travel,
.sleep,
.shop,
footer {
  display: none;
}